@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-color {
  transition: color 0.2s linear;
}
.transition-background-color {
  transition: background-color 0.2s linear;
}

.justify-evenly {
  justify-content: space-evenly;
}

@media screen and (max-width: 990px) {
  .reverse {
      flex-direction: column-reverse;
  }
}



.gc-principles {
display: grid;
grid-template-columns: 1fr 1fr;
list-style-type: none;
padding: 0;
margin: 0;
}
@media screen and (max-width: 990px) {
.gc-principles {
  grid-template-columns: 1fr;
}
}

.gc-principle {
margin: 0;
padding: 24px 12px;
}

@media screen and (max-width: 990px) {
.gc-principle:nth-child(odd) {
  background-color: #c4993715;
}

.gc-principle:nth-child(even) {
  background-color: #00000015;
}
}
@media screen and (min-width: 991px) {
.gc-principle:nth-child(3n+1) {
  background-color: #00000015;
}
}

.gc-principle:nth-child(2), .gc-principle:nth-child(3) {
  background-color: #c4993715;
}

.gc-details {
list-style-type: none;
margin: 0;
padding: 0;
}
.gc-details li {
padding: 4px 8px;
}

