@tailwind base;
@tailwind components;

.contact-card {
  @apply flex flex-col items-center text-center bg-gc-lighter-grey h-48 pt-4 rounded shadow;
}
.contact-card_title {
  @apply text-gc-yellow font-display font-bold text-2xl mb-2;
}
.contact-card_detail {
  @apply py-4 bg-gc-lighter-grey w-full h-20 flex items-center justify-center flex-col shadow;
}
.header-dropdown {
  @apply px-4 py-4 text-gc-dark-grey mx-2 border-b;
}
.business-heading {
  @apply text-gc-red capitalize font-bold font-display text-3xl mb-4 relative;
}
.business-subheading {
  @apply mb-4 text-gc-red font-display text-2xl font-bold relative capitalize;
}

@tailwind utilities;

.transition-color {
  transition: color 0.2s linear;
}
.transition-background-color {
  transition: background-color 0.2s linear;
}

.justify-evenly {
  justify-content: space-evenly;
}

@media screen and (max-width: 990px) {
  .reverse {
      flex-direction: column-reverse;
  }
}
.grid {
  display: grid;
}

.title-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 4px solid rgb(196,153,39);
  height: 8px;
  width: 48px;
}

.subtitle-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid rgb(196,153,39);
  height: 8px;
  width: 24px;
}

.clamp-2 {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
