@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-color {
  transition: color 0.2s linear;
}
.transition-background-color {
  transition: background-color 0.2s linear;
}

.justify-evenly {
  justify-content: space-evenly;
}

@media screen and (max-width: 990px) {
  .reverse {
      flex-direction: column-reverse;
  }
}
.grid {
  display: grid;
}

.title-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 4px solid rgb(196,153,39);
  height: 8px;
  width: 48px;
}

.subtitle-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid rgb(196,153,39);
  height: 8px;
  width: 24px;
}

.clamp-2 {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
